<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- link reset css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" th:href="@{/assets/css/base.css}">
  <link rel="stylesheet" th:href="@{/assets/css/main.css}">
  <link rel="stylesheet" th:href="@{/assets/css/grid.css}">
  <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
  <link rel="stylesheet" th:href="@{/assets/images/}">
  <link rel="stylesheet" th:href="@{/assets/css/featured.css}">
  <link rel="stylesheet" th:href="@{/assets/css/detail.css}">


  <!-- link gg fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Merriweather:wght@400;700&family=Montserrat:wght@300&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Merriweather:wght@400;700&family=Montserrat:wght@300&family=Nanum+Myeongjo:wght@400;700;800&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

  <!-- link font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>News_Website</title>
</head>
<body>
<div class="news-website">
  <header class="header">

  </header>

  <div class="container">
    <div class="grid wide">
      <div class="row">
        <div class="col l-2 l-o-5">
          <h1 class="menu-header">Review</h1>
        </div>
        <div class="col l-12">
          <div class="menu-divider"></div>
        </div>
      </div>
      <div class="row page">
        <div class="col l-6">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-big-img" style="background-image: url(../assets/images/menu-top-left-img.webp);"></div>
            <h4 class="menu-top-left__item-big-title">
              ‘We will see spectacular failures’: Tech leaders and investors reckon with the end of cheap money
            </h4>
            <span class="menu-top-left__item-time">
                                16 min ago
                            </span>
          </a>
        </div>
        <div class="col l-3">
          <div class="menu-top-right">
            <div class="row">
              <div class="col l-12">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-12">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-3.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    How Sam Bankman-Fried’s $32 billion crypto empire vanished overnight
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l-3">
          <div class="menu-top-right">
            <div class="row">
              <div class="col l-12">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-4.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Genesis lending unit halts withdrawals in aftermath of FTX collapse
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-12">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-5.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    House lawmakers call Sam Bankman-Fried, other executives, to testify at hearing on FTX collapse
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l-3">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-6.webp);"></div>
            <h4 class="menu-top-left__item-title">
              Binance CEO says crypto ‘will be fine’ and announces industry recovery fund
            </h4>
            <span class="menu-top-left__item-time">
                                Nov 14th 2022
                            </span>
          </a>
        </div>
        <div class="col l-3">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-7.webp);"></div>
            <h4 class="menu-top-left__item-title">
              Sea Limited stock jumps as much as 41% as company renews focus on profitability
            </h4>
            <span class="menu-top-left__item-time">
                                Nov 14th 2022
                            </span>
          </a>
        </div>
        <div class="col l-3">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-8.webp);"></div>
            <h4 class="menu-top-left__item-title">
              Microsoft, Meta and others face rising drought risk to their data centers
            </h4>
            <span class="menu-top-left__item-time">
                                Nov 14th 2022
                            </span>
          </a>
        </div>
        <div class="col l-3">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-9.webp);"></div>
            <h4 class="menu-top-left__item-title">
              FBI is ‘extremely concerned’ about China’s influence through TikTok on U.S. users
            </h4>
            <span class="menu-top-left__item-time">
                                Nov 14th 2022
                            </span>
          </a>
        </div>
        <div class="col l-3">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-10.webp);"></div>
            <h4 class="menu-top-left__item-title">
              Musk fires Twitter engineers after critical posts on Twitter and Slack
            </h4>
            <span class="menu-top-left__item-time">
                                Nov 14th 2022
                            </span>
          </a>
        </div>
        <div class="col l-3">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-11.webp);"></div>
            <h4 class="menu-top-left__item-title">
              Attabotics nabs $71 million as startups vie with Amazon over robotic warehouse
            </h4>
            <span class="menu-top-left__item-time">
                                Nov 14th 2022
                            </span>
          </a>
        </div>
        <div class="col l-3">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-12.webp);"></div>
            <h4 class="menu-top-left__item-title">
              Alphabet must cut headcount and trim costs, activist investor TCI says
            </h4>
            <span class="menu-top-left__item-time">
                                Nov 14th 2022
                            </span>
          </a>
        </div>
        <div class="col l-3">
          <a href="#" class="menu-top-left">
            <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-13.webp);"></div>
            <h4 class="menu-top-left__item-title">
              Charlie Munger says crypto is a bad combo of fraud and delusion
            </h4>
            <span class="menu-top-left__item-time">
                                Nov 14th 2022
                            </span>
          </a>
        </div>
      </div>
      <div class="row page-more-header">
        <div class="col l-12">
          <h1 class="menu-more-header">More in review</h1>
        </div>
      </div>
      <div class="row">
        <div class="col l-12">
          <div class="menu-more">
            <div class="row">
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-14.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Amazon reportedly plans to lay off about 10,000 employees starting this week
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/featured-page-15.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Google settles with 40 states over location tracking practices
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
              <div class="col l-3">
                <a href="#" class="menu-top-left">
                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>
                  <h4 class="menu-top-left__item-title">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time">
                                            Nov 14th 2022
                                        </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row load-more">
        <div class="col l-2 l-o-5">
          <a href="#" class="menu-load-more">
            <span class="load-more__name">LOAD MORE</span>
            <i class="fa-solid fa-chevron-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">

  </footer>
</div>

<script src="../layout/header.js"></script>
<script src="../layout/footer.js"></script>
</body>
</html>