<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<html>
<head>
    <title>Article page</title>
    <link rel="stylesheet" th:href="@{/assets/css/mainSite.css}">
    <link rel="stylesheet" th:href="@{/assets/css/grid.css}">
    <link rel="stylesheet" th:href="@{/assets/css/base.css}">
    <link rel="stylesheet" th:href="@{/assets/css/detail.css}">
    <script src="./assets/JavaScript/dateTime.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/assets/images/}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
    <body>
    <div class="header" id="pin">
        <ul>
            <li><a  href="#"><img style="margin-top: 10px;" id="icon-news" src="../assets/images/news-icon.png" alt="News icon" /></a></li>
            <li>
                <p id="date-time">DateTime</p>
                <script>displayDatetime()</script>
            </li>
            <li>
                <form class="search-form"  th:action="@{/search-results/0}" method="get" style="display: flex; margin-top: 10px;">
                    <input type="text" placeholder="Search.." name="keyword">
                    <button style="width: 70px; text-align: center; margin-left: 5px;" type="submit">Search</button>
                </form>
            </li>
        </ul>



        </a>
    </div>
    <div class="menu-bar">
        <ul>

            <li th:each="category : ${cate}">
                <a th:href="@{/posts-in-category/{id}(id = ${category.id})}" th:text="${category.name}"></a>
            </li>
        </ul>
    </div>

    <div class="article-content clearfix">
            <h1 style="text-align: center;" th:text="${post.name}" ></h1>

        <img th:src="*{'data:image/jpeg;base64,' + post.image}" alt="ftx" >
        <div class="page-detail-group">
            <span class="page-detail-des" style="font-size: 13px" th:text="${post.content}">

            </span>

        </div>


        </div>
        <div class="author">
            <span style="position: relative; left: 650px;"></span>
        </div>
        <footer>
            <div class="footer-container">
                <div>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                </div>
                <span>
                    <pre>
                    Báo tiếng Việt nhiều người xem nhất
                Đồ án sinh viên trường Đại học Xây Dựng Hà Nội (HUCE)

                    </pre>
                </span>
                <div>
                    <h3>Contact to Post News</h3><br/>
                    <p><pre>Email: vuong227164@nuce.edu.vn</pre></p><br/>
                    <p><pre>Phone: 0359552500</pre><p><br/>
                </div>
            </div>
        </footer>
    </body>
</html>