<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
  <title>News</title>
  <link rel="stylesheet" th:href="@{/assets/css/mainSite.css}">

  <script src="../assets/JavaScript/dateTime.js"></script>
  <!--icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/assets/images/}">
  <!--    <link rel="apple-touch-icon" sizes="57x57" href="Favicons/apple-icon-57x57.png">-->
  <!--    <link rel="apple-touch-icon" sizes="60x60" href="Favicons/apple-icon-60x60.png">-->
  <!--    <link rel="apple-touch-icon" sizes="72x72" href="Favicons/apple-icon-72x72.png">-->
  <!--    <link rel="apple-touch-icon" sizes="76x76" href="Favicons/apple-icon-76x76.png">-->
  <!--    <link rel="apple-touch-icon" sizes="114x114" href="Favicons/apple-icon-114x114.png">-->
  <!--    <link rel="apple-touch-icon" sizes="120x120" href="Favicons/apple-icon-120x120.png">-->
  <!--    <link rel="apple-touch-icon" sizes="144x144" href="Favicons/apple-icon-144x144.png">-->
  <!--    <link rel="apple-touch-icon" sizes="152x152" href="Favicons/apple-icon-152x152.png">-->
  <!--    <link rel="apple-touch-icon" sizes="180x180" href="Favicons/apple-icon-180x180.png">-->
  <!--    <link rel="icon" type="image/png" sizes="192x192" href="Favicons/android-icon-192x192.png">-->
  <!--    <link rel="icon" type="image/png" sizes="32x32" href="Favicons/favicon-32x32.png">-->
  <!--    <link rel="icon" type="image/png" sizes="96x96" href="Favicons/favicon-96x96.png">-->
  <!--    <link rel="icon" type="image/png" sizes="16x16" href="Favicons/favicon-16x16.png">-->
  <!--    <link rel="manifest" href="/manifest.json">-->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
<div class="header" id="pin">
  <ul>
    <li><a  href="#"><img style="margin-top: 10px;" id="icon-news" src="../assets/images/news-icon.png" alt="News icon" /></a></li>
    <li>
      <p id="date-time">DateTime</p>
      <script>displayDatetime()</script>
    </li>
    <li>
      <form class="search-form" action="" style="display: flex; margin-top: 10px;">
        <input type="text" placeholder="Search.." name="search">
        <button style="width: 70px; text-align: center; margin-left: 5px;" type="submit">Search</button>
      </form>
    </li>
  </ul>



  </a>
</div>
<div class="news-website">
  <header class="header">

  </header>

  <div class="container">
    <div class="grid wide">
      <div class="row">
        <div class="col l-12">
          <h1 class="page-detail-title" th:text="${post.name}"></h1>
          <span class="page-detail-time" th:text="${post.time}">
          </span>
        </div>
        <div class="col l-12">
          <div class="menu-divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col l-8 l-o-2 page-container">
          <img th:src="*{'data:image/jpeg;base64,' + post.image}" alt="ftx" class="page-detail-img">
<!--          <p class="page-detail-info" ></p>-->
        </div>
      </div>
      <div class="row">
        <div class="col l-8 l-o-2">
          <div class="page-detail-group">
            <span class="page-detail-des" style="white-space: pre-wrap" th:text="${post.content}"></span>
          </div>
        </div>
      </div>
      <div class="row page-more-header">
        <div class="col l-12">
          <h1 class="menu-more-header">Tin tức liên quan</h1>
        </div>
      </div>
      <div class="row page">
<!--        <div class="col l-6">-->
<!--          <a href="#" class="menu-top-left">-->
<!--            <div class="menu-top-left__item-big-img" style="background-image: url(../assets/images/menu-top-left-img.webp);"></div>-->
<!--            <h4 class="menu-top-left__item-big-title">-->
<!--              ‘We will see spectacular failures’: Tech leaders and investors reckon with the end of cheap money-->
<!--            </h4>-->
<!--            <span class="menu-top-left__item-time">-->
<!--                  16 min ago-->
<!--            </span>-->
<!--          </a>-->
<!--        </div>-->
        <div class="col l-12">
          <div class="menu-top-right" >
            <div class="row">
              <div class="col l-3" th:each="postRelated : ${posts}">
                <a href="#" class="menu-top-left" th:href="@{{id}(id = ${postRelated.id})}">
                  <img class="menu-top-left__item-img" th:src="*{'data:image/jpeg;base64,' + postRelated.image}"></img>
                  <h4 class="menu-top-left__item-title" th:text="${postRelated.name}">
                    Musk tells Twitter employees they can still receive stock
                  </h4>
                  <span class="menu-top-left__item-time" th:text="${postRelated.time}">
                                            Nov 14th 2022
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="col l-3">-->
<!--          <div class="menu-top-right">-->
<!--            <div class="row">-->
<!--              <div class="col l-12">-->
<!--                <a href="#" class="menu-top-left">-->
<!--                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>-->
<!--                  <h4 class="menu-top-left__item-title">-->
<!--                    Musk tells Twitter employees they can still receive stock-->
<!--                  </h4>-->
<!--                  <span class="menu-top-left__item-time">-->
<!--                                            Nov 14th 2022-->
<!--                                        </span>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col l-12">-->
<!--                <a href="#" class="menu-top-left">-->
<!--                  <div class="menu-top-left__item-img" style="background-image: url(../assets/images/menu-top-right-1-img.webp);"></div>-->
<!--                  <h4 class="menu-top-left__item-title">-->
<!--                    Musk tells Twitter employees they can still receive stock-->
<!--                  </h4>-->
<!--                  <span class="menu-top-left__item-time">-->
<!--                                            Nov 14th 2022-->
<!--                                        </span>-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>

  <footer class="footer"></footer>

</div>

  <script th:src="@{/layout/header.js}"></script>
  <script th:src="@{/layout/footer.js}"></script>
</body>
</html>