
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- link reset css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" th:href="@{/assets/css/base.css}">
  <link rel="stylesheet" th:href="@{/assets/css/mainSite.css}">
  <link rel="stylesheet" th:href="@{/assets/css/grid.css}">
<!--  <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">-->
  <link rel="stylesheet" th:href="@{/assets/images/}">
<!--  <link rel="stylesheet" th:href="@{/assets/css/featured.css}">-->
<!--  <link rel="stylesheet" th:href="@{/assets/css/detail.css}">-->
  <script src="./assets/JavaScript/dateTime.js"></script>

  <!-- link gg fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Merriweather:wght@400;700&family=Montserrat:wght@300&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Merriweather:wght@400;700&family=Montserrat:wght@300&family=Nanum+Myeongjo:wght@400;700;800&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

  <!-- link font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Nổi bật</title>
</head>
<body>

<div class="header" id="pin">
  <ul>
    <li><a  href="#"><img style="margin-top: 10px;" id="icon-news" src="../assets/images/news-icon.png" alt="News icon" /></a></li>
    <li>
      <p id="date-time">DateTime</p>
      <script>displayDatetime()</script>
    </li>
    <li>
    <li>
      <form class="search-form"  th:action="@{/search-results/0}" method="get" style="display: flex; margin-top: 10px;">
        <input type="text" placeholder="Search.." name="keyword">
        <button style="width: 70px; text-align: center; margin-left: 5px;" type="submit">Search</button>
      </form>
    </li>
    </form>
    </li>
  </ul>
  </a>
</div>
  <div class="menu-bar">
    <ul>

      <li th:each="category : ${cate}">
        <a th:href="@{/posts-in-category/{id}(id = ${category.id})}" th:text="${category.name}"></a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="grid wide">
      <div class="row">
        <div class="col l-2 l-o-5">
          <h1 class="menu-header" th:text="${category.name}"></h1>
        </div>

        <div class="row page" >
          <div class="col l-12">
            <div class="posts-in-category">
              <div class="row">
                <div class="col l-4" th:each="post : ${posts}">
                  <a  class="menu-top-left" th:href="@{/find-post/{id}(id = ${post.getId()})}">
                    <img class="menu-top-left__item-img"th:src="@{'data:image/jpeg;base64,' + ${post.getImage()}}"></img>
                    <h4 class="menu-top-left__item-title" th:text="${post.getName()}">


                    </h4>
                    <span class="menu-top-left__item-time"th:text="${post.time}">

                                        </span>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>


      </div>


    </div>
  </div>

  <footer>
    <div class="footer-container">
      <div>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
      </div>
      <span>
                    <pre>
                    Báo tiếng Việt nhiều người xem nhất
            Đồ án sinh viên trường Đại học Xây Dựng Hà Nội (HUCE)
                    </pre>
                </span>
      <div>
        <h3>Contact to Post News</h3>
          <p>
          <pre>Email: vuong227164@nuce.edu.vn</pre>
          </p>
          <p>
          <pre>Phone: 0359552500</pre>
          <p>
      </div>
    </div>
  </footer>

<!-- <script src="../layout/header.js"></script>
<script src="../layout/footer.js"></script> -->
</body>
</html>